:host {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.pdf-viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #F3F4F6;
}
.pdf-viewer-content {
  width: 100%;
  height: 100%;
  background-color: #F3F4F6;
}




