<div class="control-section">
  <div class="control-section-message" *ngIf="micState !== micStates['onstart']">
    {{ micState.message }}
  </div>
  <div class="control-section-message" *ngIf="isListening">
    {{ feedbackState.message ? '' : micState.message }}
    <span [style.color]="feedbackState.colorMessageLabel">{{ feedbackState.messageLabel }}</span> <span [style.color]="feedbackState.colorMessage">{{ feedbackState.message | uppercase }}</span>
  </div>
  <button 
    class="control-button" 
    [ngClass]="{'default-state': micState === micStates['default'], 'onstart-state': micState === micStates['onstart']}" 
    [style.backgroundColor]="micState.iconBackgroundColor" 
    (click)="isListening ? abortListening() : startListening()">
    <i [ngClass]="'fas ' + micState.iconClass" [style.color]="micState.iconColor"></i>
  </button>
</div>